<h3>You just generate the url: <a href="<%= link_to(@shorten_url) %>"><%= link_to(@shorten_url) %></a></h3>
<div>
  <h4>Some analytics about your shortened url:</h4>
  <div class="analytics-data">
    <div class="number-of-access">
      <strong><%= @all_clicks %></strong>
      <sub>accesses until now</sub>
    </div>
    <div class="browser-counter">
      <table>
        <tr>
          <td>Browser name</td>
          <td>Hits</td>
        </tr>
        <% for browser,count in @browsers %>
        <tr>
          <td><%= browser %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
